li {
    display: inherit;
    padding: 10px 10px
}

ul { 
    padding: 10px;
}

nav {
    text-align: center;
    color: darkblue;
    margin:50px 50px 40px 50px;
    min-width: 500px;
}

a {
    text-decoration: none;
    margin:10px 20px;
    padding: 15px 12px;
    color:white;
    background-color: steelblue;
    border-radius: 5px;
    border: 2px solid white;
}

nav a:hover:not(#entry) {
    background:white;
    color:steelblue;
    border:2px solid steelblue;
}

a#entry {
    color:white;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size:25px;
}

body {
    min-width: 600px;
    background-color: steelblue;
}

article {
    background:white;
    width:80%;
    margin:0 auto;
    padding: 30px 40px;
    box-shadow: 2px 2px 2px black;
    #border: 5px solid black;
    #border-radius: 15px;
}

p {
    text-align: justify;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 1.5;
}

#disqus_thread {
    margin: 50px 20px;
}
