body {
    min-width: 600px;
}

li {
    display: inherit;
    padding: 10px 10px
}

ul { 
    padding: 10px;
}

nav {
    width:100%;
    text-align: center;
    background: red;
    color: blue;
    border:5px solid black;
    margin:10px 10px;
    border-radius: 15px;
    min-width: 500px;
}

nav a {
    text-decoration: none;
    margin:10px 20px;
    padding: 15px 12px;
    color:white;
    background-color: blue;
    border-radius: 15px;
    border: 2px solid white;
}

nav a:hover {
    background:white;
    color:blue;
    border:2px solid blue;
}
